<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navigation">
    <section class="card detail-navigation-card">
        <div class="detail-navigation-bar">

            <div class="detail-navigation-left" th:if="${detailContext.listLikeSource}">
                <th:block th:if="${postNavigation.hasPrevious()}">
                    <a class="btn btn-secondary"
                       th:href="@{/c/{communityCode}/posts/{id}(
                            communityCode=${currentCommunity.code},
                            id=${postNavigation.previousPost.postId},
                            source=${detailContext.source},
                            returnUrl=${detailContext.returnUrl},
                            categoryId=${detailContext.categoryId},
                            keyword=${detailContext.keyword},
                            secret=${detailContext.secret},
                            onlyWithAttachments=${detailContext.onlyWithAttachments},
                            tradeType=${detailContext.tradeType},
                            tradeStatus=${detailContext.tradeStatus},
                            dimClosedTrade=${detailContext.dimClosedTrade},
                            sort=${detailContext.sort},
                            page=${postNavigation.previousPost.page},
                            size=${detailContext.safeSize}
                        )}">
                        이전 글
                    </a>
                </th:block>
                <th:block th:unless="${postNavigation.hasPrevious()}">
                    <span class="disabled-link">이전 글</span>
                </th:block>

                <th:block th:if="${postNavigation.hasNext()}">
                    <a class="btn btn-secondary detail-inline-spaced"
                       th:href="@{/c/{communityCode}/posts/{id}(
                            communityCode=${currentCommunity.code},
                            id=${postNavigation.nextPost.postId},
                            source=${detailContext.source},
                            returnUrl=${detailContext.returnUrl},
                            categoryId=${detailContext.categoryId},
                            keyword=${detailContext.keyword},
                            secret=${detailContext.secret},
                            onlyWithAttachments=${detailContext.onlyWithAttachments},
                            tradeType=${detailContext.tradeType},
                            tradeStatus=${detailContext.tradeStatus},
                            dimClosedTrade=${detailContext.dimClosedTrade},
                            sort=${detailContext.sort},
                            page=${postNavigation.nextPost.page},
                            size=${detailContext.safeSize}
                        )}">
                        다음 글
                    </a>
                </th:block>
                <th:block th:unless="${postNavigation.hasNext()}">
                    <span class="disabled-link detail-inline-spaced">다음 글</span>
                </th:block>
            </div>

            <div class="detail-navigation-left" th:unless="${detailContext.listLikeSource}"></div>

            <div class="detail-navigation-right">
                <a class="btn btn-secondary" th:href="${listRedirectUrl}">목록으로</a>
                <a class="btn btn-secondary detail-inline-spaced" th:href="@{/}">홈으로</a>
            </div>

        </div>
    </section>
</th:block>

</html>