<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: commonHeadContent('잘못된 요청')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: siteHeader(null)}"></div>
<main class="error-page">
    <div th:replace="~{fragments/layout :: errorCard('400', '잘못된 요청입니다.', ${message})}"></div>
    <div class="actions error-actions">
        <a class="btn btn-primary" th:href="@{/}">홈으로</a>
        <a class="btn btn-secondary" href="javascript:history.back()">이전 페이지</a>
    </div>
</main>
<div th:replace="~{fragments/header :: siteFooter}"></div>
</body>
</html>
