<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="commentsSearchHiddenFields(condition, commentPage)">
    <input type="hidden" name="searchType" th:value="${condition.searchType}">
    <input type="hidden" name="keyword" th:value="${condition.keyword}">
    <input type="hidden" name="status" th:value="${condition.status}">
    <input type="hidden" name="sort" th:value="${condition.sort}">
    <input type="hidden" name="size" th:value="${condition.safeSize}">
    <input type="hidden" name="page" th:value="${commentPage.number + 1}">
</th:block>

</html>