<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: commonHeadContent('마이페이지')}"></th:block>
</head>
<body>

<div th:replace="~{fragments/header :: siteHeader(${loginMember})}"></div>

<main class="site-container">
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-title :: memberMypageTitle}"></th:block>
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-suspension-info :: memberMypageSuspensionInfo}"></th:block>
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-profile :: memberMypageProfile}"></th:block>
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-statistics :: memberMypageStatistics}"></th:block>
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-recent-interactions :: memberMypageRecentInteractions}"></th:block>
    <th:block th:replace="~{members/mypage/member-mypage-fragments/member-mypage-account-actions :: memberMypageAccountActions}"></th:block>
</main>

<div th:replace="~{fragments/header :: siteFooter}"></div>
</body>
</html>