<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: commonHeadContent('비밀번호 변경')}"></th:block>
</head>
<body>

<div th:replace="~{fragments/header :: siteHeader(${loginMember})}"></div>

<main class="site-container">
    <section class="card">
        <h2 class="card-title">비밀번호 변경</h2>

        <form th:action="@{/mypage/password}" th:object="${memberPasswordChangeRequest}" method="post">


            <div class="global-error" th:if="${#fields.hasGlobalErrors()}">
                <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="currentPassword">현재 비밀번호</label>
                <input class="form-control" type="password" id="currentPassword" th:field="*{currentPassword}">
                <div class="field-error" th:errors="*{currentPassword}"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="newPassword">새 비밀번호</label>
                <input class="form-control" type="password" id="newPassword" th:field="*{newPassword}">
                <div class="field-error" th:errors="*{newPassword}"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="newPasswordConfirm">새 비밀번호 확인</label>
                <input class="form-control" type="password" id="newPasswordConfirm" th:field="*{newPasswordConfirm}">
                <div class="field-error" th:errors="*{newPasswordConfirm}"></div>
            </div>

            <button class="btn btn-primary" type="submit">비밀번호 변경</button>
        </form>
    </section>
</main>

<div th:replace="~{fragments/header :: siteFooter}"></div>
</body>
</html>